@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Karla";
}

a {
  box-shadow: none;
  color: white;
  text-decoration: none;
  font-size: 96px;
}

html {
  background-color: black;
}

html,
body {
  height: 100%;
}

.displayCellContainer {
  padding-left: 8%;
  padding-top: 1%;
  padding-right: 8%;
  padding-bottom: 1%;
}

.displayCellHeader {
  font-size: 24px;
  box-shadow: none;
  color: white;
  text-decoration: none;
}

.displayCellSubtitle {
  font-size: 16px;
  box-shadow: none;
  color: white;
  text-decoration: none;
  font-style: italic;
}

.footerContainer {
  padding: 56px;
  border-top: 16px dashed red;
}

.footerHeader {
  font-size: 24px;
  font-weight: bold;
}

.logoMenuItem {
  padding-left: 32px;
  padding-right: 32px;
  font-size: 32px;
}

.logoMenuSlashNavigationMenuItem {
  visibility: hidden;
  height: 0px;
}

.logoMenuNavigationContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  align-items: center;
}

.flexbox-container {
  flex-direction: column;
  display: flex;
}

@media (min-width: 375px) {
  .displayCellContainer {
    padding-left: 16%;
    padding-right: 16%;
  }
}

@media (min-width: 750px) {
  .displayCellContainer {
    padding-left: 30%;
    padding-right: 40%;
  }
  .logoMenuItem {
    font-size: 64px;
  }
  .logoMenuNavigationContainer {
    display: flex;
    flex-direction: row;
    margin-left: 64px;
  }
  .logoMenuSlashNavigationMenuItem {
    padding-left: 32px;
    padding-right: 32px;
    font-size: 64px;
    visibility: visible;
    height: auto;
    bottom: 0;
  }
}
