@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
    padding: 0;
    margin: 0;
    font-family: "Karla";
}

html {
    background-color: black;
}

html,
body {
    height: 100%;
}

.displayCellContainer {
    cursor: pointer;
    padding-left: 8%;
    padding-top: 1%;
    padding-right: 8%;
    padding-bottom: 1%;
}

.displayCellHeader {
    box-shadow: none;
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.displayCellSubtitle {
    box-shadow: none;
    color: white;
    font-size: 16px;
    font-style: italic;
    text-decoration: none;
}

.displayCellTextContainer {
    display: inline-block;
}

.footerContainer {
    padding: 24px;
    border-top: 16px dashed red;
}

.footerHeader {
    font-size: 24px;
    font-weight: bold;
}

.indexBodyText {
    box-shadow: none;
    color: white;
    font-size: 16px;
    font-style: italic;
    text-decoration: none;
    padding-left: 48px;
    padding-top: 32px;
    padding-right: 48px;
    padding-bottom: 32px;
}

.logoMenuItem {
    margin-left: 8px;
    margin-top: 4px;
    margin-right: 8px;
    margin-bottom: 4px;
    font-size: 32px;
    box-shadow: none;
    color: white;
    text-decoration: none;
}

.logoMenuSlashNavigationMenuItem {
    visibility: hidden;
    height: 0px;
    box-shadow: none;
    color: white;
    text-decoration: none;
}

.logoMenuNavigationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-10%);
}

.socialIcon {
    cursor: pointer;
    opacity: 75%;
}

.socialIcon:hover {
    opacity: 50%;
}

@media (min-width: 375px) {
    .displayCellContainer {
        padding-left: 16%;
        padding-right: 16%;
    }
}

@media (min-width: 750px) {
    .displayCellContainer {
        padding-left: 25%;
        padding-right: 35%;
    }
    .footerContainer {
        padding: 48px;
    }
    .indexBodyText {
        padding-left: 56px;
        padding-top: 56px;
        padding-right: 56px;
        padding-bottom: 56px;
    }
    .logoMenuItem {
        font-size: 48px;
    }
    .logoMenuNavigationContainer {
        display: flex;
        flex-direction: row;
        margin-left: 48px;
    }
    .logoMenuSlashNavigationMenuItem {
        padding-left: 32px;
        padding-right: 32px;
        font-size: 64px;
        visibility: visible;
        height: auto;
        bottom: 0;
    }
}

@media (min-width: 1500px) {
    .displayCellContainer {
        padding-left: 35%;
        padding-right: 45%;
    }
}