@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
    padding: 0;
    margin: 0;
}

a {
    box-shadow: none;
    color: white;
    text-decoration: none;
    font-size: 96px;
}

h1,
h2 {
    font-family: 'Consolas';
    box-shadow: none;
    color: black;
    text-decoration: none;
    margin-left: 16px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 16px;
}

html {
    background-color: black;
}

html,
body {
    height: 100%
}

.displayCellHeader .displayCellSubtitle {
    font-family: 'Lato';
    box-shadow: none;
    color: white;
    text-decoration: none;
    margin-left: 16px;
}

.displayCellHeader {
    font-size: 24px;
}

.displayCellSubtitle {
    font-size: 16px;
}

.footerContainer {
    padding: 56px;
}

.footerHeader {
    font-family: 'Lato';
    font-size: 24px;
    font-weight: 900;
}

.footerSubtext {
    font-family: 'Lato';
}

.logoMenuItem {
    font-family: 'Lato';
    padding-left: 32px;
}

.flexbox-container {
    flex-direction: column;
    display: flex;
}

.thumbnail {
    position: relative;
    width: 100vh;
    height: 1000px;
    overflow: hidden;
}

.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}