@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Karla";
}

html {
  background-color: black;
}

html,
body {
  height: 100%;
}

.displayCellContainer {
  cursor: pointer;
}

.displayCellHeader {
  box-shadow: none;
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.displayCellSubtitle {
  box-shadow: none;
  color: white;
  font-size: 16px;
  font-style: italic;
  text-decoration: none;
}

.displayCellTextContainer {
  display: inline-block;
}

.indexBodyText {
  box-shadow: none;
  color: white;
  font-size: 24px;
  font-style: italic;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 24px;
}

.logoMenuItem {
  font-size: 24px;
  box-shadow: none;
  color: white;
  text-decoration: none;
}

.logoMenuSlashNavigationMenuItem {
  box-shadow: none;
  color: white;
  text-decoration: none;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 32px;
  height: auto;
  bottom: 0;    
  visibility: hidden; 
}

.logoMenuNavigationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-10%);
}

@media (min-width: 750px) {
  .logoMenuItem {
    font-size: 48px;
  }  

  .logoMenuSlashNavigationMenuItem {
    font-size: 64px;
  }

  .logoMenuNavigationContainer {
    flex-direction: row;
  }
  
  .logoMenuSlashNavigationMenuItem {
    visibility: visible;
  }  
}
